<!DOCTYPE html>
  <html lang="en">
  <head>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>About</title>
  </head>
  <body>
    <div class="card">
        <div class="card-header">
          <a href="/" class="btn btn-outline-primary">Home</a>
        </div>
        <div class="card-body">
          <h5 class="card-title">About this product</h5>
          <p class="card-text"> This interface allows for professors to ask questions to students during classtime. The students 
              responses are saved and allow the professor to gauge how well their lectures are being received.
              This can act as a substitute to a Google-Form, as it offers more flexibility since questions
              can be posed on the spot. Additionally, a professor has the ability to look at past responses
              from previous classes, if desired.</p>
        </div>
      </div>
    </body>