<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Homepage</title>
  </head>
  <body>
      <form method="POST">
        <select name="course">
          <option value="CSC351">Database</option>
          <option value="CSC370">Machine Reasoning</option>
        </select>
        <select name="section">
            <option value="A">A</option>
            <option value="B">B</option>
          </select>
        <input name='teacherName' type="text" id="teacher" placeholder="teacher name"/>
        <input type='radio' name='person' value='teacher'>Teacher<br>
        <input type='radio' name='person' value='student'>Student<br>
        <input type="submit" value="Submit" class="submitButton">
      </form>
    </body>