<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Student Homepage </title>
  </head>
  <body>

    <h3 style='color: #ccc;font-size: 30px;'>No question posed yet..</h3>
    <div class="message_holder"></div>

    <form method="POST" name="form">
      <input type="text" class="username" placeholder="Name"/>
      <input type="text" class="message" placeholder="Message"/>
      <input type="submit"/>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      socket.on( 'connect', function() {
        socket.emit( 'my event', {
          data: 'User Connected'
        } )
        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          let user_name = $( 'input.username' ).val()
          let user_input = $( 'input.message' ).val()
          socket.emit( 'student response', {
            user_name : user_name,
            message : user_input
          } )
          $( 'input.message' ).val( '' ).focus()
        } )
      } )
      socket.on( 'teacher question', function( msg ) {
        console.log( msg )
        if( typeof msg.question!== 'undefined' ) {
          $( 'h3' ).remove()
          $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.question+'</b> '+'</div>' )
        }
      })
    </script>

  </body>
  </html>