<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Teacher Homepage</title>
  </head>
  <body>

    <h3 style='color: #ccc;font-size: 30px;'>No responses yet..</h3>
    <div class="message_holder"></div>

    <form method="POST" name="form">
      <input type="text" class="question" placeholder="Question"/>
      <input type="submit"/>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      socket.on( 'connect', function() {
        socket.emit( 'teacher connect', {
          data: 'User Connected',
          url: document.URL
        } )
        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          let question = $( 'input.question' ).val()
          socket.emit( 'teacher question', {
            question: question
          } )
          $( 'input.question' ).val( '' ).focus()
        } )
      } )
      socket.on( 'student response', function( msg ) {
        console.log( msg )
        if( typeof msg.user_name !== 'undefined' ) {
          $( 'h3' ).remove()
          $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
        }
      })
    </script>

  </body>
  </html>